# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
.eggs/
dist/
build/

# PyCharm project files
.idea/
*.iml

# VSCode settings (if you use it too)
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/